$primary: #40916c;
$primaryLight: #4fb889;
$primaryDark: #265740;

// TODO: Change secondary color, necessary?
$secondary: #914065;
$secondaryLight: #a87a99;
$secondaryDark: #532640;

$alert-yellow: #fdffa2;
$destory-red: #b34949;

// TODO: Add depth to neutral colors
$neutralDarker: darkgray;
$neutrayDark: darkgray;
$neutral: gray;
$neutralLight: rgb(243, 243, 243);
$neutralLighter: rgb(251, 255, 245);
$neutralLightest: white;
