.event-show {
  margin: 20px auto;
  max-width: 1100px;
}

.event-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  background: $neutralLightest;
  border: 1px solid $primary;
  border-radius: 8px;
  padding: 20px;
  color: $primary;
  font-size: 24px;
  
  p {
    font-weight: 600;
    
    span {
      font-weight: 400;
    }
  }

  + div {
    display: flex;
    border-bottom: 1px solid $primary;

    span {
      margin: 20px auto 10px;
      color: $primary;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

.team-index {
  display: grid;
  position: relative;
  padding: 20px;
  background: $neutralLightest;
  border: 1px solid $primary;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .team-item {
    // display: inline-block;
    position: relative;
    word-wrap: break-word;
    color: $primary;
    margin-bottom: 10px;

    h1, h2, .player-slots {
      // display: inline-block;
      margin-bottom: 10px;
    }

    h1 {
      font-weight: 600;
    }

    h2 {
      font-size: 14px;
    }

    button {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .player-slots {
      display: block;
    }

    .player-slots p {
      display: inline-block;
      margin: 5px;
    }
  }
}