.explore-map-outer {
  width: 100px;
  height: 100px;
  div {
    width: 100px;
    height: 100px;
    div {
      width: 100px;
      height: 100px;
    }
  }
}

.test {
  width: 200px;
  height: 200px;
}
