.explore-map-outer {
  width: 100%;
  height: 100%;
}
.explore-side-window {
  width: 350px;
  height: 100%;
  position: absolute;
  z-index: 2;
  // height: 100%;
  background: $neutralLightest;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  // position: relative;
  div:nth-child(odd) {
    // background: $neutralLighter;
    background: pink;
  }
}
.side-window-header {
  text-align: center;
  font-size: large;
  padding: 20px;
  font-weight: bolder;
  font-style: oblique;
  // background: pink;
  border-bottom: 1px solid black;
}
.explore-index-item {
  // margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  background: none;
  padding-top: 10px;
  padding-left: 10px;
  // border-radius: 3px;
  box-shadow: 1 30px 5px rgb(25 0 25 / 3%);
  border-bottom: 1px solid rgb(202, 197, 193);
  // border-top: 2px solid rgb(141, 140, 139);
}

.add-an-event-btn {
  border-radius: 4px;
  background: $primary;
  color: white;
  box-shadow: none;
  padding: 7px;
}

.join-game-btn {
  border-radius: 4px;
  background: $primary;
  box-shadow: none;
  padding: 7px;
  color: white;
  &:hover {
    // padding: 7px;
    background-color: $primaryDark;
  }
}
