.nav-background {
  background: $neutralLight;
}

.full-navbar {
  background: $neutralLight;
  max-width: 1100px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
  // margin-left: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  // padding: 10px;
}
.logo-header {
  width: 200px;
}
.login-signup {
  margin-right: 20px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  background: red;
}

.form-button {
  // border: 0;
  border-radius: 4px;
  background: $primary;
  box-shadow: none;
  padding: 7px;
  // margin-left: 3px;
  // margin-right: 3px;
}

.login-btn {
  background: white;
  border: 4;
}

.signup-btn {
  border: 0;
  color: white;
}
