$logoRed: #c4291f;
$primary: #c4291f;
$primaryLight: #5d947b;
$primaryLighter: #c7e9da;
$primaryDark: #9d2b29;

// TODO: Change secondary color, necessary?
$secondary: #1fbac4;
$secondaryLight: #a87a99;
$secondaryDark: #532640;

$alert-yellow: #fdffa2;
$destroy-red: #b34949;

// TODO: Add depth to neutral colors
$neutralDarker: #d3d3d3;
$neutrayDark: #857f72;
$neutral: #a39e93;
$neutralLight: #b8b2a7;
$neutralLighter: #f2f2f2;
$neutralLightest: #faf9f7;
